---
// src/components/Footer.astro
const currentYear = new Date().getFullYear();
---
<footer class="site-footer">
  <div class="container">
    <p>
      © {currentYear} Zehra Yacine · Sprachmittlung Deutsch ↔ Türkisch · Augsburg
      &nbsp;|&nbsp;
      <a href="/impressum">Impressum</a>
      &nbsp;|&nbsp;
      <a href="/datenschutz">Datenschutz</a>
    </p>
  </div>
</footer>